@using AutoCourse.BLL;

@model IEnumerable<AutoCourse.Models.School>

<h2>学校列表</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SchoolName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.SchoolName, "index", "CourseView", new { schoolid = item.SchoolID }, new { })
            </td>
        </tr>
    }

</table>

<p>

    @*判断，如果已经关联的学校，那么，这个地方就不要显示新增，而是编辑了*@
    @if (User.GetSchoolID() == 0)
    {
        @Html.ActionLink("新增学校", "CreateNew");
    }
    else
    {
        @Html.ActionLink("我的学校", "Edit");
    }

</p>
